 *{ 
    padding :0;
    margin:0;
    font-family : 'Josefin sans',sans-serif;
    box-sizing: border-box;
    }
  /* HEADER*/
    .marquee-top-scroll {
      height: 50px;
      background-color: #f1f1f1;
      font-size: 12px;
      font-weight: 700;
    }
    .marquee-top-scroll .marquee-outer-span {
      margin-right: 50px;
    }
    .marquee-outer-span span {
      margin: 40px;
    }
    /* NavBar */
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      background-color: #000;
    }
    .nav-logo h1 span {
      font-family: "Brush Script MT", "Palace Script MT", "Arial", "sans-serif";
      font-weight: 500;
      font-size: 45px;
      color: #0bcdf8;
    }
    nav .nav-link {
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: 600;
      font-size: 20px;
    }
    .nav-link a {
      transition: 0.2s ease;
    }
    .nav-link a:hover {
      color: #0bcdf8;
    }
    body{
      background-color:#f2f2f2;
    }

    /* About-us part */
    .about-section {
       
      display:flex;
      justify-content:space-between;
      align-items:center;
      flex-direction:column;
      background-size:cover;
      background-position:center;
      color:#ffffff;
   }
   .about-section.section-content {
     
     width: 100%;
     display:flex;
       align-items:flex-start
       
       
   }  
  
   
   .Section-content{
     display:flex;
     align-items:flex-start;
     width:100%;
     
   }
  
   .Netch-desc{
     display:flex;
     align-items:flex-start;
     gap: 0px;
     
     
   }
   
  
   
  
   
   .green-line{

     width:100px;
     height:7px;
     background-color: green;
     margin-top:0;
   }
   /* MEMBERS DETAILS  */
   
   
   .member {

    text-align:center;
} 



.member img {

  width:130px;
  height:130px;
  object-fit :cover;
  border-radius:90%;
  margin-bottom :10px;
  Border:2px;

}

   .member h2 {
    color:#000;
    background-color: #4caf50;
}

   .member p{
    margin:5px 0 0;
    width:100%;
   background: color #333;
   background-color:#FF6A00 ;
   }
    
   
   
   
   
   .members {
     
     grid-template-rows:auto auto;  /*Defines the size of each row in grid container*/
     grid-template-columns:repeat(3,1fr); 
     background-size:cover;
     background-position:center;
     
    }
    
    /* Feedback-content */
    #Feedback-content{
      display:flex; /*a flex container, where the child elements (flex items) are arranged in a flexible way.*/
      flex-direction:column;/*changes the layout direction of flex items from the default horizontal (row) to vertical (column).*/
      margin-bottom:15px;
      
    }
    .main-feedback{
     color: #006400;
     background-color: #add8e6;
 
   }
    
/* back to top  */
footer {
  margin-top: 40px;
  background-color: #1e1e1e;
  color: white;
}
.back-to-top-anchor {
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.7s ease;
  background-color: black;
  height: 50px;
}
/* footer section main */
/* footer logo  */
.footer-logo h1 span {
  font-family: "Brush Script MT", "Palace Script MT", "Arial", "sans-serif";
  font-size: 45px;
  color: #0bcdf8;
}
/* footer columns  */
.footer-column-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 30px;
  /* margin: 20px 0; */
}
.footer-column a {
  color: white;
}
.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
  width: 130px;
  border-bottom: 3px solid #0bcdf8;
}
/* column 4 only  */
.footer-column4 img {
  height: 30px;
  margin-right: 10px;
}

    
    
  
  
 
    
 