/* pre-code for this webpage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Arial", "Verdana", "Sans-serif", "serif";
  scroll-behavior: smooth;
}
a {
  color: black;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
i {
  font-size: 25px;
  color: black;
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
}
body {
  overflow-x: hidden;
}
/* Marquee section */
.marquee-top-scroll {
  height: 50px;
  background-color: #f1f1f1;
  font-size: 12px;
  font-weight: 700;
}
.marquee-top-scroll .marquee-outer-span {
  margin-right: 50px;
}
.marquee-outer-span span {
  margin: 40px;
}
/* NavBar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.nav-logo h1 span {
  font-family: "Brush Script MT", "Palace Script MT", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 45px;
  color: #0bcdf8;
}
nav .nav-link {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 20px;
}
.nav-link a {
  transition: 0.2s ease;
}
.nav-link a:hover {
  color: #0bcdf8;
}
#dark-mode {
  height: 30px;
  cursor: pointer;
}
#light-mode {
  height: 30px;
  cursor: pointer;
  display: none;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* left section  */
.hero-left-content {
  height: 600px;
  width: 50%;
  padding: 200px 0px;
  /* background-color: red; */
}
.hero .hero-left-content h1 {
  font-size: 60px;
  font-family: sans-serif;
  font-family: "Lucida Grande", "Verdana", "Segoe UI", "Arial", sans-serif;
  font-weight: 900;
}
.hero .hero-left-content p {
  font-size: 30px;
  font-weight: 500;
  color: #7a7a7a;
}
.hero .hero-left-content button {
  /* display: inline-block; */
  padding: 18px 37px;
  margin-top: 20px;
  background-color: #0bcdf8;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.hero .hero-left-content button:hover {
  background-color: #0b8cf8;
  font-size: 20.2px;
}
/* right section hero  */
.hero-right-section {
  width: 50%;
  height: 600px;
}
/* popular brand section  */
.popular-brands {
}
.popular-brands > h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
}
.brand-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.all-brand-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 222px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* new in store section  */
.new-in-store h1{
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
}
.new-store-card-container{
  display: flex;
  justify-content: space-between;
}
.new-store-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width:300px;
  background-color: #f1f1f1;
}
.new-store-card img{
  height: 300px;
}
.new-store-card .card-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-in-store .card-details h6{
  text-align: center;
  font-size: 30px;
}
.new-store-card .card-details .price{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  margin: 20px 0;
}
.new-in-store .card-details button{
  padding: 10px 40px;
  background-color: #0bcdf8;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.new-in-store .card-details button:hover{
  background-color: #0b8cf8;
}
/* explore netch section  */
.explore-netch {
  margin-bottom: 20px;
}
.explore-netch > h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
}
.explore-netch-card-cont {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.explore-card img {
  width: 385px;
  height: 200px;
  border-radius: 10px;
}
.explore-card h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}
/* newsletter section  */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f1f1f1;
}
.subscribe-newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-newsletter-content h2 {
  font-size: 40px;
  font-weight: 700;
}
.subscribe-newsletter-content p {
  font-size: 20px;
  margin: 0 0 20px 0px;
  color: #7a7a7a;
}
.subscribe-newsletter-form input {
  padding: 10px 20px;
  width: 300px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
}
.subscribe-newsletter-form button {
  padding: 10px 20px;
  background-color: #0bcdf8;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.7s ease;
}
.subscribe-newsletter-form button:hover {
  background-color: #0b8cf8;
}
/* back to top  */
footer {
  margin-top: 40px;
}
.back-to-top-anchor {
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.7s ease;
  background-color: black;
  height: 50px;
}
/* footer section main */
#main-footer {
  padding: 40px 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}
.footer-logo h1 span {
  font-family: "Brush Script MT", "Palace Script MT", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 45px;
  color: #0bcdf8;
}
.footer-column-container {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  margin-bottom: 40px;
}
.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 130px;
  border-bottom: 3px solid #0bcdf8;
}
.footer-column ul li {
  margin: 6px 0;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  transition: 0.3s ease;
  cursor: pointer;
}
.footer-column ul li a {
  color: gray;
}
.footer-column ul li:hover {
  color: white;
  transform: translateX(4px);
}
.footer-column ul li:hover a {
  color: white;
  transform: translate(4px);
}
/* column 4 only  */
.footer-column4 ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.footer-column4 ul li img {
  height: 35px;
  opacity: 0.5;
}
.footer-column4 ul li img:hover {
  opacity: 1;
}
/* footer copyright section */
.footer-copyright-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright-section p {
  font-size: 15px;
  font-weight: 500;
}
