@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
/* pre-code for this webpage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}
a {
  color: black;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
i {
  font-size: 25px;
  color: black;
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
}
body {
  overflow-x: hidden;
}
/* Marquee section */
.marquee-top-scroll {
  height: 50px;
  background-color: #f1f1f1;
  font-size: 12px;
  font-weight: 700;
}
.marquee-top-scroll .marquee-outer-span {
  margin-right: 50px;
}
.marquee-outer-span span {
  margin: 40px;
}
/* NavBar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.nav-logo h1 span {
  font-family: "Allison", serif;
  font-size: 30px;
}
.nav-logo span {
  color: #0bcdf8;
}
nav .nav-link {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 20px;
}
.nav-link a {
  transition: 0.7s ease;
}
.nav-link a:hover {
  color: #0bcdf8;
  text-decoration: underline;
}
.nav-link .sun{
  display: none;
}
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* left section  */
.hero-left-content {
  height: 600px;
  width: 50%;
  padding: 200px 0px;
  /* background-color: red; */
}
.hero .hero-left-content h1 {
  font-size: 60px;
  font-family: "MuseoModerno", serif;
  font-weight: 900;
}
.hero .hero-left-content p {
  font-size: 30px;
  font-weight: 500;
  color: #7a7a7a;
}
.hero .hero-left-content button {
  /* display: inline-block; */
  padding: 18px 37px;
  margin-top: 20px;
  background-color: #0bcdf8;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  transition:all 0.7s ease;
}

.hero .hero-left-content button:hover {
  background-color: #0b8cf8;
  font-size: 21px;
}
/* right section  */
.hero-right-section {
  width: 50%;
  height: 600px;
  /* background-color: yellow; */
}
/* newsletter section  */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f1f1f1;
}
.subscribe-newsletter-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-newsletter-content h2 {
  font-size: 40px;
  font-weight: 700;
}
.subscribe-newsletter-content p{
  font-size: 20px;
  margin: 0 0 20px 0px;
  color: #7a7a7a;
}
.subscribe-newsletter-form input {
  padding: 10px 20px;
  width: 300px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
}
.subscribe-newsletter-form button {
  padding: 10px 20px;
  background-color: #0bcdf8;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.7s ease;
}
.subscribe-newsletter-form button:hover {
  background-color: #0b8cf8;
}
/* back to top  */
.back-to-top-anchor{
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.7s ease;
  background-color: black;
  height:50px;
}
/* footer section main */
#main-footer{
  padding: 40px 0;
  /* background-color: #1E1E1E; */
}
.footer-column-container{
  display: flex;
  justify-content: space-between;
  background-color: red;
}
.footer-column h4{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}
.footer-column ul li{
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
}
.footer-column ul li a{
  color: #f7f7f7;
}
.footer-column4 ul{
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.footer-column4 ul li a i{
  color: white;
}
.footer-column1{
  background-color: green;
}
.footer-column2{
  background-color: blue;
}
.footer-column3{
  background-color: skyblue;
}